In [1]:
# Vectorizing
"""
Count vectorization
N-grams
Term frequency - inverse document frequency (TF-IDF)
"""

'\nCount vectorization\nN-grams\nTerm frequency - inverse document frequency (TF-IDF)\n'

In [47]:
import re
import string
from pathlib import Path
import pandas as pd
import nltk
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
nltk.data.path.append('/Users/vickyparmar/dev/nltk_data')

In [3]:
pd.set_option('display.max_colwidth', 100)

In [4]:
data_dir = data_dir = Path('/Users/vickyparmar/git/archive/projectGain/Data/LinkedIn_Learning/Ex_Files_NLP_Python_ML_EssT/Exercise Files/Ch03/03_02/Start')

In [5]:
ps = nltk.PorterStemmer()
wn = nltk.WordNetLemmatizer()

In [6]:
df = pd.read_csv(data_dir / 'SMSSpamCollection.tsv', sep='\t', header=None)
df.columns = ['label', 'text']

In [7]:
def clean_text(text):
    text = ''.join([c for c in text if c not in string.punctuation])
    text = re.split('\W+', text.lower())
    stopwords = nltk.corpus.stopwords.words('english')
    text = [c for c in text if c not in stopwords]
    return [wn.lemmatize(w) for w in text]

In [17]:
# Count vectorization

In [11]:
count_vetorizer = CountVectorizer(analyzer=clean_text)
x_counts = count_vetorizer.fit_transform(df['text'])
print(x_counts.shape)
print(count_vetorizer.get_feature_names_out())

(5568, 8914)
['' '0' '008704050406' ... 'ü' 'üll' '〨ud']

In [12]:
x_counts

<5568x8914 sparse matrix of type '<class 'numpy.int64'>'
	with 50276 stored elements in Compressed Sparse Row format>

In [15]:
x_counts_df = pd.DataFrame(x_counts.toarray(), columns=count_vetorizer.get_feature_names_out())

In [16]:
x_counts_df.head()

,,0,008704050406,0089my,0121,01223585236,01223585334,0125698789,02,020603,...,zindgi,zoe,zogtorius,zoom,zouk,zyada,é,ü,üll,〨ud
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
# N-grams
"""
Groups of n
"""

'\nGroups of n\n'

In [26]:
df.columns

Index(['label', 'text'], dtype='object')

In [34]:
def clean_text_n_grams(text):
    text = ''.join([c for c in text if c not in string.punctuation])
    text = re.split('\W+', text.lower())
    stopwords = nltk.corpus.stopwords.words('english')
    text = " ".join([c for c in text if c not in stopwords])
    return text

df['cleaned_text'] = df['text'].apply(lambda x: clean_text_n_grams(x))
df.head()

,label,text,cleaned,cleaned_text
0,ham,I've been searching for the right words to thank you for this breather. I promise i wont take yo...,"[ive, searching, right, word, thank, breather, promise, wont, take, help, granted, fulfil, promi...",ive searching right words thank breather promise wont take help granted fulfil promise wonderful...
1,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...,"[free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receiv...",free entry 2 wkly comp win fa cup final tkts 21st may 2005 text fa 87121 receive entry questions...
2,ham,"Nah I don't think he goes to usf, he lives around here though","[nah, dont, think, go, usf, life, around, though]",nah dont think goes usf lives around though
3,ham,Even my brother is not like to speak with me. They treat me like aids patent.,"[even, brother, like, speak, treat, like, aid, patent]",even brother like speak treat like aids patent
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,"[date, sunday]",date sunday

In [40]:
count_vect = CountVectorizer(ngram_range=(2,3))
x_counts_n_grams = count_vect.fit_transform(df.cleaned_text)
print(x_counts_n_grams.shape)
print(count_vect.get_feature_names_out())

(5568, 63679)
['008704050406 sp' '008704050406 sp arrow' '0089my last' ... 'üll take'
 'üll take forever' '〨ud evening']

In [41]:
nrange_df = pd.DataFrame(x_counts_n_grams.toarray(), columns=count_vect.get_feature_names_out())

In [42]:
nrange_df.head()

,008704050406 sp,008704050406 sp arrow,0089my last,0089my last four,0121 2025050,0121 2025050 visit,01223585236 xx,01223585236 xx luv,01223585334 cum,01223585334 cum wan,...,zouk nichols parisfree,zyada kisi,zyada kisi ko,üll finish,üll finish buying,üll submitting,üll submitting da,üll take,üll take forever,〨ud evening
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
nrange_df.shape

(5568, 63679)

In [44]:
# TF-IDF
"""
wi_j = tfi_j * log(N/dfi)
tfi_j = number of times i occurs in j divided by total number of terms in j
dfi = number of documents containing i
N = total number of documents
"""

In [46]:
def clean_text(text):
    text = ''.join([c for c in text if c not in string.punctuation])
    text = re.split('\W+', text.lower())
    stopwords = nltk.corpus.stopwords.words('english')
    text = [c for c in text if c not in stopwords]
    return [wn.lemmatize(w) for w in text]

In [50]:
tfidf = TfidfVectorizer(analyzer=clean_text)
x_tfidf = tfidf.fit_transform(df.text)
print(x_tfidf.shape)
print(tfidf.get_feature_names_out())

(5568, 8914)
['' '0' '008704050406' ... 'ü' 'üll' '〨ud']

In [51]:
tfidf_df = pd.DataFrame(x_tfidf.toarray(), columns=tfidf.get_feature_names_out())

In [55]:
tfidf_df.tail(10)

,,0,008704050406,0089my,0121,01223585236,01223585334,0125698789,02,020603,...,zindgi,zoe,zogtorius,zoom,zouk,zyada,é,ü,üll,〨ud
5558,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
5559,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
5560,0.232102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
5561,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
5562,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
5563,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
5564,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.329062,0.0,0.0
5565,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
5566,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
5567,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [56]:
tfidf_df.max()

                1.000000
0               0.220192
008704050406    0.284583
0089my          0.263075
0121            0.363592
                  ...
zyada           0.168030
é               0.732913
ü               0.749763
üll             0.474304
〨ud             0.338910
Length: 8914, dtype: float64

In [57]:
tfidf_df.min()

                0.0
0               0.0
008704050406    0.0
0089my          0.0
0121            0.0
               ...
zyada           0.0
é               0.0
ü               0.0
üll             0.0
〨ud             0.0
Length: 8914, dtype: float64